<h1>
<a href="http://sudokuplay-sudokuplay.rhcloud.com"><b>Sudokuplay</b></a> allows all <b>sudoku</b> lovers to generate and play puzzles online for free and without any registration. It offers playing puzzles of four levels of difficulty which are determined not only by the number of empty cells on board, but also by analyzing how much effort must be expended to solve the puzzle. As <b>sudoku</b> puzzles get more difficult, more advanced techniques are required to solve them. All puzzles are symmetrical and look pleasing to the eyes.
<br><br> 
<b>NB!</b> This is a <a href="http://en.wikipedia.org/wiki/Software_release_life_cycle#Beta">beta</a> version of <a href="http://sudokuplay-sudokuplay.rhcloud.com"><b>Sudokuplay</b></a>. More features will be continually added.</h1> 
<%= link_to(image_tag("/images/pc.gif", :size => "150x139", :border => 0, :alt => "Sudokuplay.net"), "http://sudokuplay-sudokuplay.rhcloud.com") %>

<h2><a href="http://sudokuplay-sudokuplay.rhcloud.com">Play Now!</a></h2>