/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

* {
	margin: 0;
	padding: 0;
}
html {
	font-size: 100%;
	
}
body {
	font: 62.5%/1.5 "Segoe UI", Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	min-width:500px;
	
}
ul {
	list-style: none;
}
li {
	display: inline;
}
#wrapper {
    text-align:center;
    
}
#innerwrap{
	margin: 0 auto; 
	width:60%;
	
}
#masthead {
	margin:2px 2px 0 2px;
	color:#8d8b8b;
	
}
#masthead img{
    float:left;
}
#share{
    float:right;
    width:120px;
}
#content {
	margin-bottom:10px;
    line-height:250%;
}
#content h1 {
	font-size: 160%;
	text-align:left;
}
#content h2 {
	font-size: 150%;
}
#content img {
	margin-top:10px;
	margin-bottom:10px;
}
#logo {
    margin-bottom:10px;
}
#footer {
	color:#8d8b8b;
	margin-bottom:5px;
	padding-top:10px;/*border-top: 1px dotted #8d8b8b; */
		}
#copyright {
	font-size: 90%;
}
a {
	text-decoration: none;
	color: #1a66e8;
}
a:hover {
	text-decoration: underline;
}
#navigation {
	margin-bottom:5px;
	font-size: 130%;
	color:#8d8b8b;
}
#navigation a {
	color: #8d8b8b;
}
#navigation a:hover {
	color: #1a66e8;
}
#navigation li {
	margin-right:7px;
	margin-left:7px;
	color: #1a66e8;
}

